services:
  # Laravel Backend
  laravel:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./ecommerce-stock-management:/var/www/html
    env_file:
      - ./.env.docker # This will load all variables from .env.docker
    environment:
      # These are needed for service linking
      - DB_CONNECTION=mongodb
      - DB_DATABASE=ecommerce_stock
      - REDIS_HOST=redis
      - CACHE_STORE=redis
      - SESSION_DRIVER=redis
      - QUEUE_CONNECTION=redis
      - APP_ENV=local
      - APP_DEBUG=true
    depends_on:
      - redis
    networks:
      - app-network

  # Redis
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - app-network

volumes:
  redis_data:

networks:
  app-network:
    driver: bridge
